/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --theme-gray: lightslategray;
  --theme-gray-highlight: rgb(151, 172, 192);
  --theme-text: rgba(0, 0, 0, 0.85);
  --theme-love: #cc93ce;
  --theme-love-highlight: #d2b0d3;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: rgb(1, 10, 19);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: #3c3c41;
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-gold: rgb(200, 155, 60);
  --color-highlight-gold: rgb(200, 170, 110);
  --color-offwhite: rgb(240, 230, 210);
  --color-background-gray: #3c3c41;

  --color-background-highlight-gray: #5b5a56;
  --color-dark-blue: #084152;
  --color-light-blue: #2d9eca;
  --color-highlight-dark-blue: #094a63;
  --color-highlight-light-blue: #56bde3;

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("/cursor.png"), default;
}

a,
button,
.ant-checkbox-wrapper,
input,
.amplify-tabs-item,
.ant-select,
.ant-select-item,
.ant-popover {
  cursor: url("/cursor-pointer.png"), pointer !important;
}

@font-face {
  font-family: "beaufort_for_lolbold";
  src: url("/fonts/beaufortforlol-bold-webfont.woff2") format("woff2"),
    url("/fonts/beaufortforlol-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "beaufort_for_lolbold_italic";
  src: url("/fonts/beaufortforlol-bolditalic-webfont.woff2") format("woff2"),
    url("/fonts/beaufortforlol-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "beaufort_for_lolmedium";
  src: url("/fonts/beaufortforlol-medium-webfont.woff2") format("woff2"),
    url("/fonts/beaufortforlol-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "beaufort_for_lolmedium_italic";
  src: url("/fonts/beaufortforlol-mediumitalic-webfont.woff2") format("woff2"),
    url("/fonts/beaufortforlol-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "spiegelbold";
  src: url("/fonts/spiegel_tt_bold-webfont.woff2") format("woff2"),
    url("/fonts/spiegel_tt_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "spiegelregular";
  src: url("/fonts/spiegel_tt_regular-webfont.woff2") format("woff2"),
    url("/fonts/spiegel_tt_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  line-height: 42pt;
  letter-spacing: 0.05em;
  font-size: 40pt;
  color: rgb(240, 230, 210);
  font-family: "beaufort_for_lolbold";
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1.25rem;
}

h2 {
  line-height: 32pt;
  letter-spacing: 0.05em;
  font-size: 28pt;
  color: rgb(240, 230, 210);
  font-family: "beaufort_for_lolbold";
  font-weight: 700;
  font-style: normal;
}

h3 {
  line-height: 28pt;
  letter-spacing: 0.05em;
  font-size: 23pt;
  color: rgb(240, 230, 210);
  font-family: "beaufort_for_lolbold";
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.75rem;
}

h4 {
  line-height: 22pt;
  letter-spacing: 0.05em;
  font-size: 18pt;
  color: rgb(240, 230, 210);
  font-family: "beaufort_for_lolbold";
  font-weight: 700;
  font-style: normal;
}

h5 {
  line-height: 18pt;
  letter-spacing: 0.075em;
  font-size: 14pt;
  color: rgb(240, 230, 210);
  font-family: "beaufort_for_lolbold";
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.75rem;
}

.gold {
  color: var(--color-gold);
}

p {
  font-family: "spiegelregular";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.24;
  letter-spacing: 0.01em;
  color: rgb(160, 155, 140);
}

.number {
  color: rgb(240, 230, 210);
  font-family: "beaufort_for_lolmedium";
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.04em;
  font-style: italic;
}

a {
  color: var(--color-gold);
}

a:hover {
  color: var(--color-highlight-gold);
}
