@import "./base.css";
@import "./aws.css";
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.ant-checkbox {
  top: 0;
}
.ant-statistic-content-value {
  font-weight: 500;
}

h3 {
  margin: 0;
}

.ant-steps-item-title {
  font-weight: 500;
}

.ant-empty-description {
  color: var(--theme-gray);
  font-weight: 500;
}

.ant-btn:hover {
  color: rgba(0, 0, 0, 0.85);
  border-color: var(--theme-gray);
}

.ant-btn-primary,
.ant-btn-primary:focus {
  color: #fff;
  border-color: var(--theme-gray);
  background: var(--theme-gray);
}

.ant-btn-primary:hover {
  color: #fff;
  border-color: var(--theme-gray-highlight);
  background: var(--theme-gray-highlight);
}

.ant-checkbox-checked .ant-checkbox-inner {
  border-color: var(--theme-gray);
  background-color: var(--theme-gray);
}

.ant-checkbox-checked:after {
  border-color: var(--theme-gray);
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: var(--theme-gray);
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: var(--theme-gray);
  background-color: var(--theme-gray);
  border-color: var(--theme-gray);
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: var(--theme-gray);
}

.ant-steps-icon > span > svg {
  color: var(--theme-gray) !important;
}

.ant-steps-item-title::after {
  background-color: var(--theme-gray) !important;
}

.ant-pagination-item-active a {
  color: var(--theme-gray);
}
.ant-pagination-item-active a:hover {
  color: var(--theme-gray-highlight);
}

.ant-pagination-item-active {
  border-color: var(--theme-gray);
}

.ant-pagination-item-active:hover {
  border-color: var(--theme-gray-highlight);
}

.ant-pagination-item a:hover,
.ant-pagination-next .ant-pagination-item-link:hover > span,
.ant-pagination-prev .ant-pagination-item-link:hover > span {
  color: var(--theme-gray-highlight);
}

.ant-pagination-item:hover,
.ant-pagination-next .ant-pagination-item-link:hover,
.ant-pagination-prev .ant-pagination-item-link:hover {
  border-color: var(--theme-gray-highlight);
}
