@import "./base.css";
@import "./aws.css";
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
